 <link rel="stylesheet" href="../static/assets/css/courseitem.css">

  <div class="card mb-2 coursecard">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://media.geeksforgeeks.org/img-practice/banner/dsa-self-paced-course-overview-image.png?v=1661592615" class="img-fluid" alt="photo">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{course['title']}}</h5>
          <p class="card-text">{{course['description']}}</p>
          <p class="card-text"><small class="text-muted">{{course['price']}}</small></p>
          <button type="button" class="btn btn-dark">Enroll Now</button>
        </div>
      </div>
    </div>
  </div> 

